@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&display=swap');
@import 'tailwindcss';
@import 'flag-icons/css/flag-icons.min.css';
@plugin "daisyui" {
	themes: caramellatte --default;
}

:root {
	--header-offset: 64px;
}

body,
html {
	font-family: 'JetBrains Mono', 'Quicksand', Arial, Helvetica, sans-serif;
}

@media (max-width: 1279px) {
	html {
		scrollbar-width: none;
		-ms-overflow-style: none;
	}
	html::-webkit-scrollbar {
		display: none;
	}
}
