name: Build and Push Docker Image

on:
  push:
    tags:
      - '*'

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Extract tag name
        id: extract_tag
        run: echo "TAG=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/beermonopoly-web:${{ env.TAG }}
            ${{ secrets.DOCKERHUB_USERNAME }}/beermonopoly-web:latest
          platforms: linux/amd64,linux/arm64
          build-args: |
            PUBLIC_SITE_TITLE=${{ vars.PUBLIC_SITE_TITLE }}
            PUBLIC_SITE_URL=${{ vars.PUBLIC_SITE_URL }}
            PUBLIC_SITE_DESCRIPTION=${{ vars.PUBLIC_SITE_DESCRIPTION }}
            PUBLIC_PATREON_URL=${{ vars.PUBLIC_PATREON_URL }}
            PUBLIC_FACEBOOK_URL=${{ vars.PUBLIC_FACEBOOK_URL }}
            PUBLIC_GITHUB_LINK=${{ vars.PUBLIC_GITHUB_LINK }}
            PUBLIC_GOOGLE_PLAY_URL=${{ vars.PUBLIC_GOOGLE_PLAY_URL }}
            PUBLIC_APP_STORE_URL=${{ vars.PUBLIC_APP_STORE_URL }}
            PUBLIC_CHROME_EXTENSION_URL=${{ vars.PUBLIC_CHROME_EXTENSION_URL }}
            PUBLIC_INFORMATION_REMOVAL_FORMSPREE_URL=${{ vars.PUBLIC_INFORMATION_REMOVAL_FORMSPREE_URL }}
            API_URL=${{ vars.API_URL }}
